<configuration>

    <appender name="systemRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/leetcode.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/leetcode.%d{yyyy-MM-dd, UTC}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy/MM/dd'T'HH:mm:ss.SSS, UTC} [%level] %logger:%line - %message%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="idv.joshchu999" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="systemRollingFileAppender" />
    </root>

</configuration>
